<a href="https://colab.research.google.com/github/Tmccoy22/alphabet_success/blob/main/GC_venture_funding_with_deep_learning_third_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Review the data types associated with the columns
applicant_data_df.dtypes

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame DROP THE SEPCIAL SPECIAL_CONSIDERATIONS TOO!!!!!
applicant_data_df = applicant_data_df.drop(columns = ["EIN","NAME", "SPECIAL_CONSIDERATIONS"])
# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,36500179,0

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
display(numerical_variables_df.head())

# Combine both data frames into one Data Frame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the new data frame all together
display(encoded_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[0:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns= ["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_scaled[0])

# Review the number of features
number_input_features

114

In [15]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A3

57

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A3 = (hidden_nodes_layer1_A3 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A3

29

In [19]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A3 = (hidden_nodes_layer2_A3 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A3

15

In [20]:
# Create the Sequential model instance
nn_A3= Sequential()

In [21]:
# First hidden layer
nn_A3.add(Dense(units = hidden_nodes_layer1_A3, input_dim= number_input_features, activation = 'relu'))

# Second hidden layer
nn_A3.add(Dense(units = hidden_nodes_layer2_A3,activation = 'relu'))

# Thrid hidden layer
nn_A3.add(Dense(units = hidden_nodes_layer3_A3,activation = 'relu'))

# Output layer
nn_A3.add(Dense(units = number_output_neurons_A3, activation = 'sigmoid'))


# Check the structure of the model
nn_A3.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 57)                6555

 dense_1 (Dense)             (None, 29)                1682

 dense_2 (Dense)             (None, 15)                450

 dense_3 (Dense)             (None, 1)                 16

=================================================================
Total params: 8,703
Trainable params: 8,703
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn_A3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Fit the model
fit_model_A3 = nn_A3.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5758 - accuracy: 0.7180
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7289
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7325
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7329
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7338
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7345
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7341
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7365
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7336
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7358
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7352
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7367
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7362
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7370
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7371
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7368
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7383
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7380
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7389
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7397
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7400
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7389
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7392
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7390
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7393
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7397
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7393
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7407
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7397
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7401
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7399
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7403
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7400
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7414
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7413
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7408
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7409
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7402
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7410
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7409
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7415
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7408
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7413
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7413
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7408
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7419
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7409
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7420
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7416
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7416
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7418
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7419
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7413
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7423
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7411
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7409
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7419
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5296 - accuracy: 0.7411
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7412
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7416
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7422
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7422
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7424
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7423
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5286 - accuracy: 0.7418
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7424
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7422
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7419
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7428
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7418
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7430
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7422
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7430
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7425
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7429
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7427
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7424
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7414
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7425
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7431
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7430
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7425
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7427
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7425
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5276 - accuracy: 0.7438
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7427
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5278 - accuracy: 0.7427
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7416

In [24]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 1s - loss: 0.5613 - accuracy: 0.7266 - 888ms/epoch - 3ms/step
Loss: 0.56125408411026, Accuracy: 0.7266472578048706

In [31]:
# Set the file path for the third alternative model
file_path = ("/Fintech_Workspace/challenges/alphabet_success/AlphabetSoup_A3.h5")
# Export your model to a HDF5 file
nn_A3.save(file_path)